<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recipe.price %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Has cheese:</strong>
    <%= recipe.has_cheese %>
  </p>

  <p>
    <strong>Has salt:</strong>
    <%= recipe.has_salt %>
  </p>

</div>
